body {
    background-color: hsl(257, 40%, 49%);
    height: 100vh;
}

.bg-pattern {
    background-image: url(images/bg-desktop.svg);
    width: 100%;
    height: 100%;
    position: absolute;
}

.logo {
    width: 200px;
    height: auto;
    padding: 3em 0 5em 0;
}

.hero-image {
    width: 100%;
}

.hero-content {
    margin: 2em;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: rgb(255 255 255 / 80%);
    font-size: 18px;
    width: 90%;
}

.hero-button {
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    border-radius: 50px;
    padding: 12px 50px;
    font-size: 18px;
    position: absolute;
    margin-top: 10px;
    transition: all ease 0.3s;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 40%);
}

.hero-button:hover {
    background-color: #E980E7;
    color: #fff;
    text-decoration: none;
}

.social-wrapper {
    display: flex;
    right: 0;
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin: 20px 50px;
}

.social {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 8px;
    transition: all ease 0.3s;
}

.social a {
    color: #fff;
    transition: all ease 0.3s;
}

.social a:hover {
    color: #F954BC;
}

.social:hover {
    color: #F954BC;
    border: 1px solid #F954BC;
}

.fa-facebook-f {
    padding: 10px 14px;
}

.fa-twitter {
    padding: 10px;
}

.fa-instagram {
    padding: 10px 12px;
}

.byline {
    position: absolute;
    margin: 22px 50px;
    font-size: 12px;
    color: hsl(0deg 0% 100% / 70%);
}

.byline a {
    color: hsl(0deg 0% 100% / 70%);
    border-bottom: 1px solid hsl(0deg 0% 100% / 70%);
}

.byline a:hover {
    text-decoration: none;
}

.byline .fa-heart {
    color: #E980E7;
}

@media (min-width: 1200px) {
    .container { max-width: 1240px; }
}

@media (max-width: 768px) {
    .bg-pattern { background-image: url(images/bg-mobile.svg); z-index: -1; background-size: cover; background-repeat: no-repeat; }
    .hero-content, .hero-image-wrapper { text-align: center; }
    .hero-image { width: 80%; }
    h1 { font-size: 1.8rem; }
    p { width: 80%; margin: 0 auto; font-size: 16px; margin-bottom: 2em; }
    .hero-button { position: initial; font-size: 15px; padding: 10px 70px; }
    .social-wrapper { position: initial; margin: 0 32%; }
    .byline { position: initial; margin: 0 32%; text-align: center; margin: 2em; }

}
